@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: scroll;
}

body {
  overflow: overlay;
}

dialog {
  max-width: 100vw;
  max-height: 100vh;
}



@font-face {
  font-family: 'Bobby Jones Soft';
  src: url( '../../font/Bobby Jones Soft Regular.woff2') format('woff2'),
       url('../../font/Bobby Jones Soft Regular.woff') format('woff'),
       url('../../font/regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Bobby Jones Soft', system-ui, sans-serif;
}

/* Add SVG text font styling */
svg text {
  font-family: 'Bobby Jones Soft', system-ui, sans-serif !important;
}



table {
  @apply min-w-full px-4 sm:px-6 py-4 border-collapse;
}

thead tr {
  @apply border-b-2 border-[#444444];
}

th {
  @apply px-2 sm:px-4 pb-4 font-medium uppercase tracking-wider text-center whitespace-nowrap;
}

td {
  @apply px-2 sm:px-4 py-2  border-t border-[#444444];
}

select {
  @apply text-black;
}

input {
  @apply text-black;
}

.btn {
  @apply bg-[#b0ff34] hover:bg-[#8ccc26] text-[#333333] font-medium py-2 px-4 rounded-md w-full hover:underline hover:underline-offset-2;
}



.top-ten-item:last-child {
  @apply border-b-0;
}

.loader {
  width: 64px;
  height: 64px;
  border: 5px solid #fff;
  border-bottom-color: #b0ff34;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-bo6 {
  width: 64px;
  height: 64px;
  border: 5px solid #fff;
  border-bottom-color: #ff9900;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.small-loader {
  width: 38px;
  height: 38px;
  border: 5px solid #fff;
  border-bottom-color: #b0ff34;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.small-loader-bo6 {
  width: 38px;
  height: 38px;
  border: 5px solid #fff;
  border-bottom-color: #ff9900;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Customize the scrollbar thumb (the draggable scrollbar handle) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Customize the scrollbar size */
::-webkit-scrollbar {
  width: 4px; /* Width for vertical scrollbar */
  height: 4px; /* Height for horizontal scrollbar */
}

.ag-theme-dark {
  /* background-color: #2c2c2c; Dark grid background color */
  color: #ffffff; /* Default text color */
}
.ag-theme-dark .ag-center-cols-viewport{
  background-color: #1f1f1f;
}
.ag-theme-dark .ag-header {
  /* background-color: #1f1f1f; Dark header background color */
  color: #ffffff; /* Header text color */
}

.ag-theme-dark .ag-row {
  background-color: #3c3c3c; /* Default row background color */
  color: #ffffff; /* Default row text color */
}

.ag-theme-dark .ag-row:hover {
  background-color: #4a4a4a; /* Row hover background color */
}

.ag-theme-dark .ag-row-odd {
  background-color: #383838; /* Odd row background color */
}


/* styles/globals.css */
.floating-image {
  animation: float 3s ease-in-out infinite; /* Animation settings */
}

.floating-image1 {
  animation: float 2s ease-in-out infinite; /* Animation settings */
}


@keyframes float {
  0%, 100% {
      transform: translateY(0); /* Start and end at original position */
  }
  50% {
      transform: translateY(-10px); /* Move up 10px */
  }
}


.card {
  background-image: url('../../public/img/bg/mast1.png'); /* Default background image */
}

.contact{
  background-image: url('../../public/img/contact/m-contact.png'); /* Default background image */
}
.service {
  background-image: url('../../public/img/mobile/bg-2-1.png'); /* Default background image */
}

.pricing-service {
  background-image: url('../../public/img/pricing/m-services.png'); /* Default background image */
}

.affilu {
  background-image: url('../../public/img/bg/bg-4 -1-1.png'); /* Default background image */
}

.consultancy {
  background-image: url('../../public/img/bg/bg-6-1.png'); /* Default background image */
}

.retention {
  background-image: url('../../public/img/mobile/mobile-1.png'); /* Default background image */
}
.loyal {
  background-image: url('../../public/img/mobile/bg-affilue-4.png'); /* Default background image */
}
.cards-swiper {
  width: 100% !important;  /* Same as width in inline style */
  /* height: 80% !important; */
  margin-top: 50px; /* Same as height in inline style */
}

@media (min-width: 768px) {
  .contact{
    background-image: url('../../public/img/contact/contact.png'); /* Default background image */
  }
  .card {
      background-image: url('../../public/img/archieve.png'); /* Change image for medium screens */
  }
  .service {
    background-image: url('../../public/img/bg/bg-2-1.png'); /* Default background image */
  }
  
  .pricing-service {
    background-image: url('../../public/img/pricing/services.png'); /* Default background image */
  }
  
.consultancy {
  background-image: url('../../public/img/bg/bg-6.png'); /* Default background image */
}
.affilu {
  background-image: url('../../public/img/bg/bg-4 -1.png'); /* Default background image */
}
.retention {
  background-image: url('../../public/img/bg/bg-affilue-3.png'); /* Default background image */
}

.loyal {
  background-image: url('../../public/img/bg/bg-affilue-4.png'); /* Default background image */
}


.cards-swiper {
  width: 60% !important;  /* Same as width in inline style */
  /* height: 80% !important;  */
  /* Same as height in inline style */
}


}

@keyframes scaleEffect {
  0% {
      transform: scale(1); /* Twice smaller */
  }
  50% {
      transform: scale(0.8); /* Larger */
  }
  100% {
      transform: scale(1.1); /* Original size */
  }
}

.hover\:animate-scale:hover {
  animation: scaleEffect 1s ease forwards;
}

/* .swiper {
  width: 240px;
  height: 320px;
} */

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: none;
}




.cards-swiper .swiper-slide {
  width: 100% !important;
  height: 100% !important;
}



.swiper-3d .swiper-slide-shadow {
  background: none !important;
}
/* .swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
} */

/* .swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
} */
